.heading {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: top;
	font-size: 350%;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: 500;
}

.text {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: top;
	font-size: 120%;
	margin-right: 50px;
	margin-left: 50px;
}

input[type=number] {
	width: 40vw;
	padding: 12px 20px;
	margin: 0 auto;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	display: block;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	width: 30vw;
	padding: 16px 20px;
	border: none;
	border-radius: 2px;
	background-color: #f1f1f1;
	display: block;
	margin: 0 auto;
}

div {
	text-align: center;
}

.button {
	background-color: #666;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 8px;
	cursor: pointer;
}
