.heading {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: top;
	font-size: 350%;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: 500;
}

.text {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	vertical-align: top;
	font-size: 120%;
	margin-right: 50px;
	margin-left: 50px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

div {
	text-align: center;
}
