<!DOCTYPE html>
<html>
	<head>
		<title>Race Predictor</title>
	</head>
	<body>
		<form action="/response" id="myForm">
		
			<label for="targetRace">Select your target race: </label>
			<select id="targetRace" name="targetRace" form="myForm">
				<option value="fifteenHundred">1500M</option>
				<option value="1Mile">1 Mile</option>
				<option value="threeK">3K</option>
				<option value="3mile">3 Mile</option>
				<option value="fiveK">5K</option>
				<option value="tenK">10K</option>
				<option value="halfMarathon">Half Marathon</option>
				<option value="Marathon">Marathon</option>
			</select>
			
			<label for="pastRace">Select a race you've run previously: </label>
			<select id="pastRace" name="pastRace" form="myForm">
				<option value="fifteenHundred">1500M</option>
				<option value="1Mile">1 Mile</option>
				<option value="threeK">3K</option>
				<option value="3mile">3 Mile</option>
				<option value="fiveK">5K</option>
				<option value="tenK">10K</option>
				<option value="halfMarathon">Half Marathon</option>
				<option value="Marathon">Marathon</option>
			</select>
			
			<label for="pastRaceTime"></label>
			<!-->Add time selector here (hh:mm:ss)<-->
			
			<label for="pastRace2">Select an additional race you've run previously <i>(Optional)</i>: </label>
			<select id="pastRace2" name="pastRace" form="myForm">
				<option value="fifteenHundred">1500M</option>
				<option value="1Mile">1 Mile</option>
				<option value="threeK">3K</option>
				<option value="3mile">3 Mile</option>
				<option value="fiveK">5K</option>
				<option value="tenK">10K</option>
				<option value="halfMarathon">Half Marathon</option>
				<option value="Marathon">Marathon</option>
			</select>
			
			<input type="submit">
		</form>
		
		
	</body>
</html>